# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Typed Lua 5.1/Release/vcpkg.applocal.log
Typed Lua 5.1/Release/vc143.pdb
Typed Lua 5.1/Release/Typed Lua 5.1.tlog/Typed Lua 5.1.write.1u.tlog
Typed Lua 5.1/Release/Typed Lua 5.1.tlog/Typed Lua 5.1.lastbuildstate
Typed Lua 5.1/Release/Typed Lua 5.1.tlog/link.write.1.tlog
Typed Lua 5.1/Release/Typed Lua 5.1.tlog/link.read.1.tlog
Typed Lua 5.1/Release/Typed Lua 5.1.tlog/link.command.1.tlog
Typed Lua 5.1/Release/Typed Lua 5.1.tlog/CL.write.1.tlog
Typed Lua 5.1/Release/Typed Lua 5.1.tlog/CL.read.1.tlog
Typed Lua 5.1/Release/Typed Lua 5.1.tlog/CL.command.1.tlog
Typed Lua 5.1/Release/Typed Lua 5.1.log
Typed Lua 5.1/Release/Typed Lua 5.1.ipdb
Typed Lua 5.1/Release/Typed Lua 5.1.iobj
Typed Lua 5.1/Release/Typed Lua 5.1.exe.recipe
Typed Lua 5.1/Typed Lua 5.1.vcxproj
Typed Lua 5.1/Typed Lua 5.1.vcxproj.filters
Typed Lua 5.1/Typed Lua 5.1.vcxproj.user
Release/Typed Lua 5.1.pdb
.vs/Typed Lua 5.1/v17/ipch/AutoPCH/db99cf32cec7084f/LPARSER.ipch
.vs/Typed Lua 5.1/v17/ipch/AutoPCH/96790bb9644d1f6b/LLEX.ipch
.vs/Typed Lua 5.1/v17/ipch/AutoPCH/96513cd3e4c1cb72/TYPED LUA 5.1.ipch
.vs/Typed Lua 5.1/v17/ipch/AutoPCH/8e0e41ce99070435/TYPED LUA 5.1.ipch
.vs/Typed Lua 5.1/v17/ipch/AutoPCH/438304d86f5926d3/LOADLIB.ipch
.vs/Typed Lua 5.1/v17/ipch/AutoPCH/40ccf7eb9ee5206e/TYPED LUA 5.1.ipch
.vs/Typed Lua 5.1/v17/ipch/AutoPCH/20e4436d671d20d3/TYPED LUA 5.1.ipch
.vs/Typed Lua 5.1/v17/Browse.VC.db
.vs/Typed Lua 5.1/v17/.suo
.vs/Typed Lua 5.1/v16/Browse.VC.db
.vs/Typed Lua 5.1/v16/.suo
.vs/Typed Lua 5.1/FileContentIndex/read.lock
.vs/Typed Lua 5.1/FileContentIndex/60d99845-a361-422e-820f-4b02ba834cca.vsidx
Typed Lua 5.1.sln
